* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}
.main {
    background-image: url(./img/backone.jpg);
    background-position: center;
    height: 1024px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__block {
    width: 500px;
    margin-top: 60px;
}
.main__header {
    font-size: 70px;
    margin-bottom: 60px;
}
.main__text {
    font-size: 18px;
    margin-bottom: 60px;
}
.main__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* display: flex; */
    /* text-align: center; */
    /* align-items: center; */
    color: black;
    background: white;
    border-radius: 30px;
    width: 234.06px;
    height: 48.6px;
}
/* второй по счёту блок */
.present {
    background-image: url(./img/beige-background.jpg);
    background-position: center;
    /* height: 1024px; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: url(./img/ru-vigbo.mp4); */
    padding-bottom: 100px;
}
.present__block {
    margin-left: 100px;
    margin-right: 100px;
}
.present__header {
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}
.present__text {
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}
/* 3 блок по счёту */
.site {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #7B68EE;
    padding-bottom: 100px;
}
.site__block {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.site__block_left {
    width: 50%;
}
.site__block_right {
    width: 50%;
}
.site__header {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
}
.site__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.site__text_plus {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}
.site__image {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 20px;
}
.site__photo {
    width: 700px;
}
/* 4 блок по счёту */
.segment {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 100px;
}
.segment__left {
    flex-direction: column;
    display: flex;
}
.segment__image {
}


.for-sale {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.for-sale__title {
  font-size: 52px;
  font-weight: 400;
  box-sizing: border-box;
}

.for-sale__link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.for-sale__text {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 300;
  font-size: 24px;
}

.for-sale__text::after {
  content: "+";
  padding-left: 250px;
}

.examples {
  background-color: #11140e;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

.examples__title {
  font-size: 52px;
  font-weight: 400;
}

.examples__content {
  box-sizing: border-box;
  display: flex;
  padding-bottom: 40px;
}

.examples__block {
  width: 70%;
}

.examples__text {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 20px;
}

.examples__img {
  width: 228px;
}

.examples__project {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 32px;
}

.examples__product {
  width: 350px;
}

.exaples__photo {
  width: 100%;
  margin-bottom: 32px;
}

.product {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 12px;
}

.product__content {
    align-items: center;
}

.product__title {
  font-size: 52px;
  font-weight: 400;
  box-sizing: border-box;
}

.product__price {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product__price_old {
  color: gray;
  text-decoration: line-through;
}

.product__price_new {
  font-weight: bold;
}

.product__button {
  background: #000000;
  border-radius: 50px;
  padding: 20px 20px;
  color: white;
}

.product__block {
  width: 800px;
}

.product__img {
  width: 100%;
}